.idea/
venv/
website/user/__pycache__/
website/user/migrations/__pycache__/
website/website/__pycache__/
DataBaseConnection/__pycache__/
website/db.sqlite3
DataBaseConnection/data.txt
DataBaseConnection/build/
DataBaseConnection/dist/
website/user/migrations/
**/.vscode/
**/*.txt
**/*.spec
website/.env
ambiente/
