{% extends 'base.html' %}
{% load static %}

{% block title %}Decisões do Jogador{% endblock %}

{% block body %}
    <div class="container">
        {% for decision in decisions %}
            <div class="row mb-3">
                <div class="col"></div>
                <div class="col-6 card">
                    <h6>Decisão: {{ decision.decision }}</h6>
                    <p>Cenário: {{ decision.scenery }}</p>
                    {% if decision.is_mistake %}
                        <p>Essa escolha é um erro.</p>
                    {% else %}
                        <p>Essa escolha é um acerto.</p>
                    {% endif %}
                </div>
                <div class="col"></div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col"></div>
            <div class="col-6" style="padding: 5px;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-fr btn-outline-dark" value="Voltar">
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}