{% extends 'base.html' %}
{% load static %}

{% block title %}Feedback Individual{% endblock %}

{% block body %}
    <div class="container">
        {% for feedback in feedbacks %}
            <div class="row">
                <div class="col"></div>
                <div class="col-8 card">
                    <h6>Data: {{ feedback.date }}</h6>
                    <p>Acertos: {{ feedback.hits }}</p>
                    <p>Erros: {{ feedback.mistakes }}</p>
                    <p>Feedback: {{ feedback.individual_feedback }}</p>
                    <p>Acesse todas as decisões <a href="{% url 'decision_view' feedback.match_id %}">aqui</a>.</p>
                </div>
                <div class="col"></div>
            </div>

            <div class="space"></div>
        {% endfor %}

        <div class="row">
            <div class="col"></div>
            <div class="col-8" style="padding: 5px;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-fr btn-outline-dark" value="Voltar">
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Feedbacks</title>
</head>
<body>
    {% for feedback in feedbacks %}
        <p>{{ feedback|linebreaks }}
        --------------------------------</p>
        
    {% endfor %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="Voltar">
    </form>
</body>
</html>
 -->
