{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastro{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <h1>Cadastro</h1>
    </div>

    <div class="content-section">
        <form method="post" enctype="multipart/form-data">
            <fieldset class="form-group">
                {% csrf_token %}

                <div class="container">
                    <div class="row" style="margin-top: 15px;">
                        {{ user_form.non_field_errors }}
                        <div class="col">
                            <div class="form-group">
                                <label for="{{ user_form.first_name.id_for_label }}">Nome:</label>
                                {{ user_form.first_name }}
                                {{ user_form.first_name.errors }}
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="{{ user_form.last_name.id_for_label }}">Sobrenome:</label>
                                {{ user_form.last_name }}
                                {{ user_form.last_name.errors }}
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="form-group">
                                <label for="{{ player_form.age.id_for_label }}">Idade:</label>
                                {{ player_form.age }}
                                {{ player_form.age.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col">
                            <div class="form-group">
                                <label for="{{ user_form.email.id_for_label }}">E-mail:</label>
                                {{ user_form.email }}
                                {{ user_form.email.errors }}
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="form-group">
                                <label for="{{ user_form.username.id_for_label }}">Nome de usuário:</label>
                                {{ user_form.username }}
                                {{ user_form.username.errors }}
                                <small class="text-muted">150 caracteres ou menos. Letras, números e @/./+/-/_ apenas.</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="{{ user_form.password1.id_for_label }}">Senha:</label>
                                {{ user_form.password1 }}
                                {{ user_form.password1.errors }}
                                <small class="text-muted">
                                    <ul>
                                        <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                                        <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                                        <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                                        <li>Sua senha não pode ser inteiramente numérica.</li>
                                    </ul>
                                </small>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="{{ user_form.password2.id_for_label }}">Confirmar senha:</label>
                                {{ user_form.password2 }}
                                {{ user_form.password2.errors }}
                            </div>
                            <input type="submit" class="btn btn-outline-dark btn-fr" style="margin-top: 5px;" value="Cadastrar">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="row mt-5">
            <div class="col">
                <h5 class="text-muted">Aviso Legal</h5>
                <p class="text-muted mb-1">Ao se cadastrar, seus dados pessoais serão utilizados apenas para as seguintes funcionalidades:</p>
                <ul>
                    <li class="text-muted">
                        Acesso e uso da aplicação e seus serviços disponíveis;
                    </li class="text-muted">

                    <li class="text-muted">
                        Acesso aos feedbacks das partidas, gerados automaticamente pelo jogo, pelo(s) professor(es) responsável(is).
                    </li>
                </ul>
                <p class="text-muted"><u><b>Observação</b></u>: Todos os dados serão excluídos após o período de testes.</p>
            </div>

            <div class="col-2"></div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}

<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastramento</title>
</head>
<body>
    <h1>Cadastramento</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        
        <div>
            <label for="{{ user_form.username.id_for_label }}">Nome de usuário:</label>
            {{ user_form.username }}
            {{ user_form.username.errors }}
        </div>
        <br>
        <div>
            <label for="{{ user_form.first_name.id_for_label }}">Nome:</label>
            {{ user_form.first_name }}
            {{ user_form.first_name.errors }}
        </div>
        <br>
        <div>
            <label for="{{ user_form.last_name.id_for_label }}">Sobrenome:</label>
            {{ user_form.last_name }}
            {{ user_form.last_name.errors }}
        </div>
        <br>
        <div>
            <label for="{{ user_form.email.id_for_label }}">E-mail:</label>
            {{ user_form.email }}
            {{ user_form.email.errors }}
        </div>
        <br>
        <div>
            <label for="{{ user_form.password1.id_for_label }}">Senha:</label>
            {{ user_form.password1 }}
            {{ user_form.password1.errors }}
        </div>
        <br>
        <div>
            <label for="{{ user_form.password2.id_for_label }}">Confirmação de senha:</label>
            {{ user_form.password2 }}
            {{ user_form.password2.errors }}
        </div>
        <br>
        <div>
            <label for="{{ player_form.age.id_for_label }}">Idade:</label>
            {{ player_form.age }}
            {{ player_form.age.errors }}
        </div>
        <br>
        <input type="submit" value="Registrar">
    </form>
</body>
</html> -->